form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 24rem;
}

.full-width {
  width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

.form-level-error {
  margin-bottom: 1rem;
  color: var(--mat-form-field-error-text-color, #b00020);
}
