<form [formGroup]="form" (ngSubmit)="onSubmit()">
  
  <div class="form-group">
    <ion-item class="ion-margin-bottom">
      <ion-label class="label-stacked">Nombre de la Zona</ion-label>
      <ion-input
        formControlName="name"
        type="text"
        placeholder="Ej. Terraza, Salón Principal, Barra">
      </ion-input>
    </ion-item>
  </div>

  <div class="form-group">
    <ion-item class="ion-margin-bottom">
      <ion-label>Activo</ion-label>
      <ion-checkbox slot="start" formControlName="active"></ion-checkbox>
    </ion-item>
  </div>

  <div class="form-actions">
    <ion-button fill="clear" class="btn-secondary" type="button" (click)="onCancel()" [disabled]="isSaving">
      Cancelar
    </ion-button>
    <ion-button class="btn-primary" type="submit" [disabled]="form.invalid || isSaving">
      <ion-spinner *ngIf="isSaving" name="crescent"></ion-spinner>
      <span *ngIf="!isSaving">Guardar Zona</span>
    </ion-button>
  </div>

</form>