<form [formGroup]="form" (ngSubmit)="submit()">
  
  <div class="form-group">
    <ion-item class="ion-margin-bottom" [class.has-error]="form.get('zone_uuid')?.invalid && form.get('zone_uuid')?.touched">
      <ion-label class="label-stacked">Ubicación / Zona</ion-label>
      <ion-select 
        formControlName="zone_uuid" 
        placeholder="Selecciona una zona"
        interface="popover"
        toggleIcon="chevron-down-outline">
        <ion-select-option *ngFor="let zone of zones" [value]="zone.uuid">
          {{ zone.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('zone_uuid')?.touched && form.get('zone_uuid')?.invalid" class="error-text">
      <small>Debes asignar la mesa a una zona real.</small>
    </ion-text>
  </div>

  <div class="form-group">
    <ion-item class="ion-margin-bottom" [class.has-error]="form.get('name')?.invalid && form.get('name')?.touched">
      <ion-label class="label-stacked">Identificador de Mesa</ion-label>
      <ion-input 
        formControlName="name" 
        type="text" 
        placeholder="Ej: Mesa 1, Terraza A...">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="error-text">
      <small>El nombre es obligatorio (mín. 2 caracteres).</small>
    </ion-text>
  </div>

  <div class="form-actions">
    <ion-button fill="clear" class="btn-secondary" type="button" (click)="cancel.emit()">
      Cancelar
    </ion-button>
    
    <ion-button class="btn-primary" type="submit" [disabled]="form.invalid || isSaving">
      <ion-spinner name="crescent" *ngIf="isSaving" slot="start"></ion-spinner>
      {{ table ? 'Actualizar Mesa' : 'Crear Mesa' }}
    </ion-button>
  </div>

</form>