.custom-input {
  --background: #f1f2f6;
  --border-radius: 8px;
  --padding-start: 12px;
  margin-bottom: 4px;
  
  ion-label {
    font-weight: 600;
    color: #2f3542;
    margin-bottom: 8px !important;
  }
}

.error-msg {
  margin-left: 12px;
  font-size: 12px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 24px;
}

ion-select {
  width: 100%;
  --placeholder-color: #a4b0be;
  --placeholder-opacity: 1;
}