<ion-content>
  <ion-list *ngIf="groupedProducts.length > 0">
    <ion-item-group *ngFor="let group of groupedProducts">
      
      <ion-item-divider sticky color="light">
        <ion-label>
          <h2 style="font-weight: bold; color: var(--ion-color-primary);">
            {{ group.familyName }}
          </h2>
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let product of group.products" (click)="handleEdit(product)">
        <ion-label>
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
        </ion-label>
        <ion-note slot="end" color="dark">
          {{ product.price / 100 | currency:'EUR' }}
        </ion-note>
      </ion-item>

    </ion-item-group>
  </ion-list>

  <div *ngIf="groupedProducts.length === 0" class="ion-padding ion-text-center">
    <p>No se encontraron productos.</p>
  </div>
</ion-content>