<form [formGroup]="form" (ngSubmit)="onSubmit()">
  
  <div class="form-group">
    <ion-item class="ion-margin-bottom">
      <ion-label class="label-stacked">Nombre del Impuesto</ion-label>
      <ion-input formControlName="name" placeholder="Ej: IVA General"></ion-input>
    </ion-item>
  </div>

  <div class="form-group">
    <ion-item class="ion-margin-bottom">
      <ion-label class="label-stacked">Porcentaje (%)</ion-label>
      <ion-input type="number" formControlName="percentage" placeholder="21"></ion-input>
    </ion-item>
  </div>

  <div class="form-group">
    <ion-item class="ion-margin-bottom">
      <ion-label>Estado Activo</ion-label>
      <ion-toggle formControlName="active" slot="end"></ion-toggle>
    </ion-item>
  </div>

  <div class="form-actions">
    <ion-button fill="clear" class="btn-secondary" (click)="cancel.emit()" [disabled]="isSaving">
      Cancelar
    </ion-button>
    <ion-button class="btn-primary" type="submit" [disabled]="form.invalid || isSaving">
      <ion-spinner name="crescent" *ngIf="isSaving"></ion-spinner>
      <span *ngIf="!isSaving">{{ isEditing ? 'Actualizar Impuesto' : 'Crear Impuesto' }}</span>
    </ion-button>
  </div>

</form>